.category {
  background-color: #11368b7c;
  height: 3341px;
  overflow: hidden;
  width: 1920px;
}
.category .about {
  left: 202px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}
.category .add-to-cart {
  color: white;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 19px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}
.category .arrow {
  height: 14px;
  left: 354px;
  position: absolute;
  top: 1502px;
  transform: rotate(180deg);
  width: 7px;
}
.category .asset-2 {
  height: 196px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 173px;
}
.category .asset-3 {
  height: 148px;
  left: 1590px;
  object-fit: cover;
  position: absolute;
  top: 134px;
  width: 190px;
}
.category .category-1 {
  left: 36px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 59px;
  white-space: nowrap;
}
.category .chevron-down-12-12px-footprint {
  height: 32px;
  left: 86px;
  position: absolute;
  top: 0;
  width: 32px;
}
.category .component-26-1 {
  background-color: white;
  border: 1px solid #403e3e;
  border-radius: 20px;
  height: 70px;
  left: 1712px;
  position: absolute;
  top: 629px;
  width: 132px;
}
.category .countries {
  left: 1132px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}
.category .elements-picker-frame-base {
  background-color: var(--white-2);
  height: 28px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 118px;
}
.category .ellipse-10 {
  background-color: white;
  border-radius: 1.139345645904541px;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.category .enter-your-email {
  left: 38px;
  letter-spacing: 0.48px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
}
.category .f1 {
  height: 20px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 10px;
}
.category .follow-us {
  left: 642px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}
.category .footer {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-637@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1220px;
  left: 29px;
  opacity: 0.87;
  position: absolute;
  top: 2121px;
  width: 1920px;
}
.category .footprint {
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}
.category .group-135 {
  background-color: white;
  height: 292px;
  left: 13px;
  position: absolute;
  top: 112px;
  width: 217px;
}
.category .group-136 {
  background-color: white;
  height: 292px;
  left: 316px;
  position: absolute;
  top: 112px;
  width: 217px;
}
.category .group-137 {
  background-color: white;
  height: 292px;
  left: 612px;
  position: absolute;
  top: 112px;
  width: 217px;
}
.category .group-138 {
  background-color: white;
  height: 292px;
  left: 913px;
  position: absolute;
  top: 112px;
  width: 217px;
}
.category .group-140 {
  background-color: white;
  height: 292px;
  left: 13px;
  position: absolute;
  top: 425px;
  width: 217px;
}
.category .group-141 {
  background-color: white;
  height: 292px;
  left: 316px;
  position: absolute;
  top: 425px;
  width: 217px;
}
.category .group-143 {
  background-color: white;
  height: 292px;
  left: 913px;
  position: absolute;
  top: 425px;
  width: 217px;
}
.category .group-145 {
  background-color: white;
  height: 292px;
  left: 13px;
  position: absolute;
  top: 735px;
  width: 217px;
}
.category .group-146 {
  background-color: white;
  height: 292px;
  left: 316px;
  position: absolute;
  top: 735px;
  width: 217px;
}
.category .group-147 {
  background-color: white;
  height: 292px;
  left: 612px;
  position: absolute;
  top: 735px;
  width: 217px;
}
.category .group-148 {
  background-color: white;
  height: 292px;
  left: 913px;
  position: absolute;
  top: 735px;
  width: 217px;
}
.category .group-150 {
  background-color: white;
  height: 292px;
  left: 13px;
  position: absolute;
  top: 1046px;
  width: 217px;
}
.category .group-151 {
  background-color: white;
  height: 292px;
  left: 316px;
  position: absolute;
  top: 1046px;
  width: 217px;
}
.category .group-152 {
  background-color: white;
  height: 292px;
  left: 612px;
  position: absolute;
  top: 1046px;
  width: 217px;
}
.category .group-153 {
  background-color: white;
  height: 292px;
  left: 913px;
  position: absolute;
  top: 1046px;
  width: 217px;
}
.category .group-161 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-76@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 394px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-162 {
  background-color: white;
  height: 32px;
  left: 448px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-163 {
  background-color: white;
  height: 32px;
  left: 556px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-164 {
  background-color: white;
  height: 32px;
  left: 502px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-166 {
  background-color: white;
  height: 32px;
  left: 718px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-168 {
  background-color: white;
  height: 32px;
  left: 610px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .group-174 {
  background-color: #ff8e0a;
  border-radius: 20px;
  height: 40px;
  left: 612px;
  position: absolute;
  top: 724px;
  width: 108px;
}
.category .group-175 {
  background-color: white;
  border-radius: 20px;
  height: 40px;
  left: 758px;
  position: absolute;
  top: 724px;
  width: 40px;
}
.category .group-3287 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 121px;
  width: 365px;
}
.category .group-3288 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 210px;
  width: 365px;
}
.category .group-3289 {
  background-color: #adacc8;
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 296px;
  width: 365px;
}
.category .group-3290 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 382px;
  width: 365px;
}
.category .group-3291 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 469px;
  width: 365px;
}
.category .group-3311 {
  height: 814px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}
.category .group-3339 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 640px;
  width: 365px;
}
.category .group-3340 {
  background-color: var(--black-haze);
  border-radius: 18px;
  height: 55px;
  left: 25px;
  position: absolute;
  top: 555px;
  width: 365px;
}
.category .group-3341 {
  height: 814px;
  left: 76px;
  position: absolute;
  top: 690px;
  width: 415px;
}
.category .group-3342 {
  height: 1555px;
  left: 761px;
  position: absolute;
  top: 606px;
  width: 1154px;
}
.category .group-465 {
  height: 117px;
  left: 0;
  position: absolute;
  top: 236px;
  width: 698px;
}
.category .group-466 {
  background-color: white;
  border-radius: 40px;
  height: 60px;
  left: 456px;
  position: absolute;
  top: 9px;
  width: 200px;
}
.category .group-467 {
  background-color: #C4A3FD;
  border-radius: 40px;
  height: 80px;
  left: 14px;
  position: absolute;
  top: 393px;
  width: 667px;
}
.category .group-468 {
  height: 473px;
  left: 613px;
  position: absolute;
  top: 120px;
  width: 696px;
}
.category .group-470 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.category .group-471 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 40px;
}
.category .group-473 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 130px;
  width: 40px;
}
.category .group-476 {
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.category .group-478 {
  height: 256px;
  left: 124px;
  position: absolute;
  top: 0;
  width: 1100px;
}
.category .group-479 {
  height: 248px;
  left: 674px;
  position: absolute;
  top: 75px;
  width: 1062px;
}
.category .group-495 {
  height: 134px;
  left: 1338px;
  position: absolute;
  top: 3033px;
  width: 118px;
}
.category .group-64 {
  background-color: white;
  height: 50px;
  left: 0;
  position: absolute;
  top: 1371px;
  transform: rotate(180deg);
  width: 1119px;
}
.category .group-77 {
  background-color: white;
  height: 32px;
  left: 340px;
  position: absolute;
  top: 1493px;
  transform: rotate(180deg);
  width: 32px;
}
.category .htb1bi-c-eb25-t-sspmq6y-drv-xau {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .icon {
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.category .instagram {
  height: 19px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 19px;
}
.category .line-2 {
  height: 1px;
  left: 684px;
  object-fit: cover;
  position: absolute;
  top: 700px;
  width: 53px;
}
.category .line-35 {
  height: 1px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 814px;
  width: 370px;
}
.category .line-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 264px;
  width: 1640px;
}
.category .loading {
  height: 20px;
  left: 509px;
  position: absolute;
  top: 1399px;
  width: 24px;
}
.category .number {
  left: 13px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
}
.category .number-1 {
  left: 12px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}
.category .number-2 {
  left: 8px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}
.category .original-xiaomi-u-13jpg220x220 {
  height: 187px;
  left: 625px;
  object-fit: cover;
  position: absolute;
  top: 439px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-1 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-10 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-11 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-12 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-13 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-14 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-2 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-3 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-4 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-5 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-6 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-7 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-8 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .original-xiaomi-u-13jpg220x220-9 {
  height: 187px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 187px;
}
.category .overlap-group {
  height: 3167px;
  left: -29px;
  position: relative;
  width: 1949px;
}
.category .overlap-group-1 {
  height: 36px;
  position: relative;
}
.category .overlap-group-2 {
  height: 15px;
  position: relative;
}
.category .overlap-group1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-638@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 737px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}
.category .overlap-group1-1 {
  height: 323px;
  left: 140px;
  position: absolute;
  top: 836px;
  width: 1736px;
}
.category .overlap-group2 {
  height: 19px;
  position: relative;
}
.category .overlap-group3 {
  height: 175px;
  left: 202px;
  position: absolute;
  top: 73px;
  width: 242px;
}
.category .overlap-group4 {
  height: 814px;
  position: relative;
}
.category .overlap-group5 {
  height: 1555px;
  position: relative;
}
.category .path-20 {
  height: 14px;
  left: 783px;
  object-fit: cover;
  position: absolute;
  top: 1502px;
  width: 7px;
}
.category .path-20-1 {
  height: 14px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 7px;
}
.category .path-55 {
  height: 16px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}
.category .path-56 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 2px;
}
.category .path-57 {
  height: 3px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 2px;
}
.category .path-58 {
  height: 2px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 3px;
}
.category .path-59 {
  height: 2px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 3px;
}
.category .path-60 {
  height: 3px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 2px;
}
.category .path-633 {
  height: 16px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 19px;
}
.category .path-634 {
  height: 10px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 10px;
}
.category .path-635 {
  height: 19px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}
.category .path-73 {
  height: 5px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 8px;
}
.category .path-75 {
  height: 14px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 17px;
}
.category .picker-border-stroke {
  height: 32px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 122px;
}
.category .pickers-combo-b-collapsed-rest {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}
.category .pickers-combo-b-collapsed-rest-1 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 118px;
}
.category .place {
  left: 1011px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}
.category .price {
  height: 19px;
  left: 17px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 256px;
  white-space: nowrap;
  width: 186px;
}
.category .rectangle-10 {
  background-color: white;
  height: 32px;
  left: 772px;
  position: absolute;
  top: 1493px;
  width: 32px;
}
.category .rectangle-16 {
  background-color: white;
  box-shadow: 0px 4px 10px #00000033;
  height: 343px;
  left: 612px;
  position: absolute;
  top: 426px;
  width: 217px;
}
.category .rectangle-387 {
  background-color: white;
  border-radius: 40px;
  height: 1555px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 1150px;
}
.category .rectangle-60 {
  height: 24px;
  left: 579px;
  object-fit: cover;
  position: absolute;
  top: 421px;
  width: 44px;
}
.category .rstaurants {
  left: 23px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
.category .selected-list-item {
  left: 11px;
  letter-spacing: 0;
  line-height: 7px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}
.category .shopping-mode {
  left: 28px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
.category .show-more {
  color: var(--mountain-mist);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  left: 559px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 1398px;
  white-space: nowrap;
}
.category .sort-by {
  color: var(--storm-dust);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs2);
  left: 14px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}
.category .span1 {
  font-size: var(--font-size-s);
}
.category .sport {
  left: 26px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.category .star {
  height: 11px;
  left: 621px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 12px;
}
.category .star-1 {
  height: 11px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-10 {
  height: 11px;
  left: 645px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 12px;
}
.category .star-2 {
  height: 11px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-3 {
  height: 11px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-4 {
  height: 11px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-5 {
  height: 11px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-6 {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 12px;
}
.category .star-7 {
  height: 11px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 12px;
}
.category .star-8 {
  height: 11px;
  left: 693px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 12px;
}
.category .star-9 {
  height: 11px;
  left: 597px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 12px;
}
.category .subscribe {
  left: 58px;
  letter-spacing: 0.48px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}
.category .text- {
  height: 19px;
  left: 17px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 229px;
  width: 186px;
}
.category .text-1 {
  left: 0;
  letter-spacing: 1.20px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}
.category .text-2 {
  height: 53px;
  left: 93px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 61px;
  width: 512px;
}
.category .text-24 {
  height: 19px;
  left: 627px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 661px;
  width: 186px;
}
.category .text-25 {
  left: 587px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 424px;
  white-space: nowrap;
}
.category .text-26 {
  color: var(--mountain-mist);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 19px;
  left: 623px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 690px;
  width: 167px;
}
.category .text-27 {
  left: 675px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 1500px;
  white-space: nowrap;
}
.category .text-28 {
  color: var(--storm-dust);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl2);
  font-weight: 700;
  left: 776px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 567px;
  white-space: nowrap;
}
.category .text-29 {
  color: white;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xxxxxxl);
  height: 66px;
  left: 777px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 496px;
  width: 427px;
}
.category .text-3 {
  left: 837px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}
.category .text-4 {
  height: 175px;
  left: 0;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: absolute;
  top: 0;
  width: 242px;
}
.category .text-5 {
  height: 175px;
  left: 161px;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: absolute;
  top: 0;
  width: 66px;
}
.category .text-6 {
  left: 23px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
.category .text-7 {
  left: 23px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
.category .text-8 {
  left: 26px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.category .trust {
  border-radius: 56px/55px;
  height: 110px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 112px;
}
.category .union- {
  height: 4px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 18px;
}
.category .vacances-voyages {
  left: 26px;
  letter-spacing: 0.22px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.category .wavy-tech-08-single-02 {
  height: 717px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 717px;
}
.category .x12px-12px-footprint {
  height: 13px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 14px;
}
.category .x4787992 {
  height: 1949px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 301px;
  width: 1949px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500|Poppins:400,700,500");

@font-face {
  font-family: "SegoeMDL2 Assets-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeMDL2Assets-Regular") format("truetype");
}

@font-face {
  font-family: "Bilo-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Bilo-Bold") format("opentype");
}

@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
