<div class="container-center-horizontal">
  <div class="category screen">
    <div class="overlap-group">
      <img
        class="x4787992"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/4787992@1x.png"
      />
      <div class="footer">
        <img
          class="asset-3"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-3@1x.png"
        />
        <div class="group-468">
          <div class="group-465">
            <h1 class="text-1 poppins-bold-white-40px">Like Our Service? Subscribe Now</h1>
            <p class="text-2 roboto-normal-white-16px2">
              <span class="span roboto-medium-white-16px"></span
              ><span class="span roboto-normal-white-16px-22"
                >As a app web crawler expert, I help organizations adjust to the expanding significance of internet
                promoting.</span
              >
            </p>
          </div>
          <img
            class="asset-2"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-2-1@1x.png"
          />
          <div class="group-467 border-1px-white">
            <div class="group-466"><div class="subscribe poppins-medium-biloba-flower-16px">Subscribe</div></div>
            <div class="enter-your-email poppins-normal-white-16px">Enter your email</div>
          </div>
        </div>
        <div class="overlap-group1-1">
          <div class="group-479">
            <p class="text-3 roboto-normal-white-16px-22">© 2020 — All Rights Reserved</p>
            <div class="group-476">
              <div class="group-470">
                <img
                  class="f1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/f-1-@1x.png"
                />
              </div>
              <div class="group-471">
                <img
                  class="path-633"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-633@1x.png"
                />
              </div>
              <div class="group-473">
                <div class="instagram">
                  <div class="overlap-group2">
                    <img
                      class="path-634"
                      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-634@1x.png"
                    />
                    <img
                      class="path-635"
                      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-635@1x.png"
                    />
                    <div class="ellipse-10"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-478">
            <div class="overlap-group3">
              <div class="text-4 roboto-medium-white-16px">About Us<br />Contact us<br />Careers<br />Support</div>
              <div class="text-5 roboto-medium-white-16px">FAQ<br />Terms<br />Privacy<br />Blog</div>
            </div>
            <div class="about poppins-bold-white-20px">About</div>
            <div class="place poppins-bold-white-20px">Contact</div>
            <img
              class="trust"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/trust@1x.png"
            />
          </div>
          <img
            class="line-4"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/line-4@1x.png"
          />
          <div class="follow-us poppins-bold-white-20px">Follow Us</div>
          <div class="countries poppins-bold-white-20px">Countries</div>
        </div>
      </div>
      <img
        class="wavy-tech-08-single-02"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/wavy-tech-08-single-02@1x.png"
      />
      <div class="group-3341">
        <div class="overlap-group4">
          <div class="group-3311">
            <div class="overlap-group1">
              <div class="group-3287">
                <div class="shopping-mode bilo-bold-bright-gray-16px">Shopping &amp; Mode</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3288">
                <div class="vacances-voyages bilo-bold-bright-gray-16px">Vacances &amp; Voyages</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3289">
                <div class="text-6 bilo-bold-bright-gray-16px">Électronique &amp; Technologie</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3290">
                <div class="rstaurants bilo-bold-bright-gray-16px">Réstaurants</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3291">
                <div class="text-7 bilo-bold-bright-gray-16px">Éducation &amp; Formation</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3339">
                <div class="sport bilo-bold-bright-gray-16px">Sport</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
              <div class="group-3340">
                <div class="text-8 bilo-bold-bright-gray-16px">Événements &amp; Divertissement</div>
                <img
                  class="union-"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/union-6@1x.png"
                />
              </div>
            </div>
            <img
              class="line-35"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/line-35@1x.png"
            />
          </div>
          <div class="category-1 bilo-bold-bright-gray-28px">Category</div>
        </div>
      </div>
      <div class="group-3342">
        <div class="overlap-group5">
          <div class="rectangle-387"></div>
          <div class="group-77 border-1px-bon-jour"></div>
          <div class="rectangle-10 border-1px-bon-jour"></div>
          <div class="group-64 border-1px-bon-jour"></div>
          <div class="arrow">
            <img
              class="path-20-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-20@1x.png"
            />
          </div>
          <img
            class="path-20"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-20-1@1x.png"
          />
          <div class="loading">
            <img
              class="path-55"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-55@1x.png"
            />
            <img
              class="path-56"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-56@1x.png"
            />
            <img
              class="path-57"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-57@1x.png"
            />
            <img
              class="path-58"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-58@1x.png"
            />
            <img
              class="path-59"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-59@1x.png"
            />
            <img
              class="path-60"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-60@1x.png"
            />
          </div>
          <div class="show-more">Show more</div>
          <div class="group-135">
            <p class="text- roboto-normal-mine-shaft-13px">Lenovo P8 Tab3 8 plus</p>
            <div class="price roboto-bold-mine-shaft-16px">$329.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-9@1x.png"
            />
            <img
              class="htb1bi-c-eb25-t-sspmq6y-drv-xau"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/htb1biceb25tbunjsspmq6ydrvxau@1x.png"
            />
          </div>
          <div class="group-136">
            <p class="text- roboto-normal-mine-shaft-13px">Teclast X10 Quad Core 3G</p>
            <div class="price roboto-bold-mine-shaft-16px">$150.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-14"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-1@1x.png"
            />
          </div>
          <div class="group-137">
            <p class="text- roboto-normal-mine-shaft-13px">BDF 10 inch Design 3G</p>
            <div class="price roboto-bold-mine-shaft-16px">$586.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-2@1x.png"
            />
          </div>
          <div class="group-138">
            <p class="text- roboto-normal-mine-shaft-13px">BDF 10 inch Octa Core powerful</p>
            <div class="price roboto-bold-mine-shaft-16px">$50.00</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-10"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-3@1x.png"
            />
          </div>
          <div class="group-140">
            <p class="text- roboto-normal-mine-shaft-13px">Teclast P89H 7.85 inch Tablet PC MT8163B</p>
            <div class="price roboto-bold-mine-shaft-16px">$421.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-9@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-12"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-4@1x.png"
            />
          </div>
          <div class="group-141">
            <p class="text- roboto-normal-mine-shaft-13px">10.1 inch Android 6.0 32GB WIFI</p>
            <div class="price roboto-bold-mine-shaft-16px">$865.40</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-13"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-5@1x.png"
            />
          </div>
          <div class="group-143">
            <p class="text- roboto-normal-mine-shaft-13px">FULCOL 10 inch Tablet PC Octa</p>
            <div class="price roboto-bold-mine-shaft-16px">$312.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-9"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-6@1x.png"
            />
          </div>
          <div class="group-145">
            <p class="text- roboto-normal-mine-shaft-13px">LZWIN 2018 Android 10 Core k99</p>
            <div class="price roboto-bold-mine-shaft-16px">$100.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-9@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-7@1x.png"
            />
          </div>
          <div class="group-146">
            <p class="text- roboto-normal-mine-shaft-13px">BMXC 10 Inch Tablet PC 3G 4G</p>
            <div class="price roboto-bold-mine-shaft-16px">$99.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-11"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-8@1x.png"
            />
          </div>
          <div class="group-147">
            <div class="text- roboto-normal-mine-shaft-13px">Luxury Golden 10.1 inch</div>
            <div class="price roboto-bold-mine-shaft-16px">$156.00</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-9@1x.png"
            />
          </div>
          <div class="group-148">
            <p class="text- roboto-normal-mine-shaft-13px">FULCOL 10 Inch Tablet pc Android</p>
            <div class="price roboto-bold-mine-shaft-16px">$1025.00</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-10@1x.png"
            />
          </div>
          <div class="group-150">
            <div class="text- roboto-normal-mine-shaft-13px">CARBAYTA 10.1&#39; Android 10</div>
            <div class="price roboto-bold-mine-shaft-16px">$329.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-5@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-9@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-11@1x.png"
            />
          </div>
          <div class="group-151">
            <p class="text- roboto-normal-mine-shaft-13px">CONGWEI 10 inch Deca Core</p>
            <div class="price roboto-bold-mine-shaft-16px">$85.00</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-7"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-1@1x.png"
            />
          </div>
          <div class="group-152">
            <div class="text- roboto-normal-mine-shaft-13px">BOBARRY 10 inch Android</div>
            <div class="price roboto-bold-mine-shaft-16px">$56.99</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-2@1x.png"
            />
          </div>
          <div class="group-153">
            <p class="text- roboto-normal-mine-shaft-13px">Lenovo YOGA BOOK X90L NetBook 10.1</p>
            <div class="price roboto-bold-mine-shaft-16px">$136.50</div>
            <img
              class="star-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
            />
            <img
              class="star-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
            />
            <img
              class="original-xiaomi-u-13jpg220x220-8"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4-3@1x.png"
            />
          </div>
          <div class="rectangle-16"></div>
          <div class="text-24 roboto-normal-mine-shaft-13px">Aoson R102 10.1 inch</div>
          <img
            class="star-9"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
          />
          <img
            class="star-10"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
          />
          <img
            class="star"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
          />
          <img
            class="star-7"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star@1x.png"
          />
          <img
            class="star-8"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/star-4@1x.png"
          />
          <img
            class="original-xiaomi-u-13jpg220x220"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/original-xiaomi-mi-notebook-air-intel-core-i5-6200u-cpu-8gb-ddr4@1x.png"
          />
          <img
            class="rectangle-60"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/rectangle-60@1x.png"
          />
          <div class="text-25 roboto-normal-white-12px">- 50%</div>
          <div class="group-174"><div class="add-to-cart">Add to cart</div></div>
          <div class="group-175 border-1px-bon-jour">
            <img
              class="path-75"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-75@1x.png"
            />
          </div>
          <div class="text-26">
            <span class="span roboto-bold-mine-shaft-16px">$159.00 </span><span class="span1">$320.00</span>
          </div>
          <img
            class="line-2"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/line-2@1x.png"
          />
          <div class="group-161"><div class="number roboto-normal-white-12px">1</div></div>
          <div class="group-168 border-1px-bon-jour"><div class="number-1 roboto-normal-mine-shaft-12px">5</div></div>
          <div class="group-164 border-1px-bon-jour"><div class="number-1 roboto-normal-mine-shaft-12px">3</div></div>
          <div class="group-166 border-1px-bon-jour"><div class="number-2 roboto-normal-mine-shaft-12px">26</div></div>
          <div class="group-162 border-1px-bon-jour"><div class="number-1 roboto-normal-mine-shaft-12px">2</div></div>
          <div class="text-27 roboto-normal-mine-shaft-12px">...</div>
          <div class="group-163 border-1px-bon-jour"><div class="number-1 roboto-normal-mine-shaft-12px">4</div></div>
        </div>
      </div>
      <div class="text-28">&nbsp;</div>
      <div class="text-29">Électronique &amp; Technologie</div>
      <div class="component-26-1">
        <div class="sort-by">Sort by:</div>
        <img
          class="path-73"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60818b3b5fd881784ce71825/img/path-73@1x.png"
        />
      </div>
      <div class="group-495">
        <div class="pickers-combo-b-collapsed-rest">
          <div class="overlap-group-1">
            <div class="elements-picker-frame-base">
              <div class="picker-border-stroke border-2px-black"></div>
            </div>
            <div class="chevron-down-12-12px-footprint">
              <div class="x12px-12px-footprint">
                <div class="overlap-group-2">
                  <div class="footprint"></div>
                  <div class="icon segoemdl2assets-regular-normal-black-12px"></div>
                </div>
              </div>
            </div>
            <div class="selected-list-item segoeui-regular-normal-black-20px">English</div>
          </div>
        </div>
        <div class="pickers-combo-b-collapsed-rest-1">
          <div class="overlap-group-1">
            <div class="elements-picker-frame-base">
              <div class="picker-border-stroke border-2px-black"></div>
            </div>
            <div class="chevron-down-12-12px-footprint">
              <div class="x12px-12px-footprint">
                <div class="overlap-group-2">
                  <div class="footprint"></div>
                  <div class="icon segoemdl2assets-regular-normal-black-12px"></div>
                </div>
              </div>
            </div>
            <div class="selected-list-item segoeui-regular-normal-black-20px">USA</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>