.x1-home {
  background-color: #11368b7c;
  height: 7000px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
#navbarResponsive{
  margin-left: 80%;
  margin-right: auto;
}
.x1-home .about {
  left: 202px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}
.x1-home .about-us {
  height: 652px;
  left: 182px;
  position: absolute;
  top: 2120px;
  width: 1500px;
}
.x1-home .about-us-1 {
  left: 140px;
  letter-spacing: 0.90px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.x1-home .arrow-right {
  height: 16px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 10px;
}
.x1-home .asset-1 {
  height: 92px;
  left: 393px;
  object-fit: cover;
  position: absolute;
  top: 1271px;
  width: 91px;
}
.x1-home .asset-2 {
  height: 108px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 598px;
  width: 128px;
}
.x1-home .asset-2-1 {
  height: 196px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 173px;
}
.x1-home .asset-3 {
  height: 148px;
  left: 1590px;
  object-fit: cover;
  position: absolute;
  top: 134px;
  width: 190px;
}
.x1-home .asset-4 {
  height: 107px;
  left: 672px;
  object-fit: cover;
  position: absolute;
  top: 664px;
  width: 105px;
}
.x1-home .bg {
  height: 3123px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 1920px;
}
.x1-home .bg-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/mask-group-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 2778px;
  left: 0px;
  position: absolute;
  top: 3335px;
  width: 1920px;
}
.x1-home .blog {
  cursor: pointer;
  left: 1520px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}
.x1-home .blog-1 {
  height: 723px;
  left: 140px;
  position: absolute;
  top: 5390px;
  width: 1640px;
}
.x1-home .category {
  cursor: pointer;
  left: 1312px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}
.x1-home .chevron-down-12-12px-footprint {
  height: 32px;
  left: 86px;
  position: absolute;
  top: 0px;
  width: 32px;
}
.x1-home .copy681867279 {
  height: 671px;
  left: 844px;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 938px;
}
.x1-home .countries {
  left: 1132px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 134px;
  white-space: nowrap;
}
.x1-home .date {
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
}
.x1-home .ellipse-10 {
  background-color: white;
  border-radius: 1.139345645904541px;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.x1-home .ellipse-3 {
  background: linear-gradient(154.46deg, #c19eff 15.69%, rgba(183, 143, 249, 0) 68.7%);
  border-radius: 771px;
  height: 1542px;
  left: 795px;
  position: absolute;
  top: 0px;
  width: 1542px;
}
.x1-home .ellipse-4 {
  background: linear-gradient(337.92deg, #9793f5 32.33%, rgba(178, 175, 252, 0) 80.44%);
  border-radius: 771px;
  height: 1542px;
  left: 519px;
  position: absolute;
  top: 0px;
  width: 1542px;
}
.x1-home .enter-your-email {
  left: 38px;
  letter-spacing: 0.48px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 28px;
  white-space: nowrap;
}
.x1-home .f1 {
  height: 20px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 10px;
}
.x1-home .follow-us {
  left: 642px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}
.x1-home .footer {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-637@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1220px;
  left: 64px;
  opacity: 0.87;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.x1-home .footprint {
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}
.x1-home .group-10 {
  height: 267px;
  left: 16px;
  position: absolute;
  top: 735px;
  width: 559px;
}
.x1-home .group-21 {
  height: 92px;
  left: 630px;
  position: absolute;
  top: 0px;
  width: 382px;
}
.x1-home .group-450 {
  height: 50px;
  left: 760px;
  position: absolute;
  top: 673px;
  width: 120px;
}
.x1-home .group-450-1 {
  background-color: #C4A3FD;
  border-radius: 25px;
  height: 50px;
  left: 70px;
  position: absolute;
  top: 0px;
  width: 50px;
}
.x1-home .group-451 {
  background-color: #C4A3FD;
  border-radius: 25px;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}
.x1-home .group-460 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/rectangle-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 80px;
  left: 300px;
  position: absolute;
  top: 379px;
  width: 80px;
}
.x1-home .group-461 {
  height: 90px;
  left: 40px;
  position: absolute;
  top: 282px;
  width: 302px;
}
.x1-home .group-462 {
  height: 459px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 1640px;
}
.x1-home .group-465 {
  height: 117px;
  left: 0px;
  position: absolute;
  top: 236px;
  width: 698px;
}
.x1-home .group-466 {
  background-color: white;
  border-radius: 40px;
  height: 60px;
  left: 456px;
  position: absolute;
  top: 9px;
  width: 200px;
}
.x1-home .group-467 {
  background-color: #C4A3FD;
  border-radius: 40px;
  height: 80px;
  left: 14px;
  position: absolute;
  top: 393px;
  width: 667px;
}
.x1-home .group-468 {
  height: 473px;
  left: 613px;
  position: absolute;
  top: 120px;
  width: 696px;
}
.x1-home .group-470 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.x1-home .group-471 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 65px;
  width: 40px;
}
.x1-home .group-473 {
  background-color: #C4A3FD;
  border-radius: 20px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 40px;
}
.x1-home .group-476 {
  height: 170px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.x1-home .group-478 {
  height: 256px;
  left: 124px;
  position: absolute;
  top: 0px;
  width: 1100px;
}
.x1-home .group-479 {
  height: 248px;
  left: 674px;
  position: absolute;
  top: 75px;
  width: 1062px;
}
.x1-home .group-493 {
  height: 26px;
  left: 27px;
  position: relative;
  top: 27px;
  width: 26px;
}
.x1-home .group-495 {
  height: 134px;
  left: 1373px;
  position: absolute;
  top: 916px;
  width: 118px;
}
.x1-home .group-498 {
  height: 1220px;
  left: -64px;
  position: absolute;
  top: 5722px;
  width: 1984px;
}
.x1-home .group-8 {
  height: 566px;
  left: 840px;
  position: absolute;
  top: 43px;
  width: 662px;
}
.x1-home .group-9 {
  background-color: white;
  border-radius: 40px;
  height: 60px;
  left: 140px;
  position: absolute;
  top: 506px;
  width: 240px;
}
.x1-home .header {
  height: 1542px;
  left: 182px;
  position: absolute;
  top: 0px;
  width: 2337px;
}
.x1-home .icon {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.x1-home .inbox {
  left: 1437px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}
.x1-home .instagram {
  height: 19px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 19px;
}
.x1-home .layer-1 {
  height: 652px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 777px;
}
.x1-home .lets-talk {
  left: 76px;
  letter-spacing: 0.48px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}
.x1-home .line-1 {
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 102px;
}
.x1-home .line-4 {
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 264px;
  width: 1640px;
}
.x1-home .logout {
  left: 1609px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  top: 434px;
  white-space: nowrap;
}
.x1-home .mask-group-1 {
  height: 2778px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.x1-home .news {
  left: 1227px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: 433px;
  white-space: nowrap;
}
.x1-home .our-blog-article {
  left: 0px;
  letter-spacing: 1.20px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
}
.x1-home .our-blogs {
  left: 144px;
  letter-spacing: 0.60px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
}
.x1-home .overlap-group {
  height: 6113px;
  left: 0px;
  position: absolute;
  top: -391px;
  width: 2519px;
}
.x1-home .overlap-group-1 {
  height: 36px;
  position: relative;
}
.x1-home .overlap-group-2 {
  height: 15px;
  position: relative;
}
.x1-home .overlap-group1 {
  height: 1542px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2337px;
}
.x1-home .overlap-group1-1 {
  height: 26px;
  position: relative;
}
.x1-home .overlap-group1-2 {
  height: 323px;
  left: 140px;
  position: absolute;
  top: 836px;
  width: 1736px;
}
.x1-home .overlap-group2 {
  height: 19px;
  position: relative;
}
.x1-home .overlap-group2-1 {
  height: 269px;
  position: relative;
}
.x1-home .overlap-group3 {
  height: 1220px;
  position: relative;
  width: 1920px;
}
.x1-home .overlap-group4 {
  height: 175px;
  left: 202px;
  position: absolute;
  top: 73px;
  width: 242px;
}
.x1-home .path-633 {
  height: 16px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 19px;
}
.x1-home .path-634 {
  height: 10px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 10px;
}
.x1-home .path-635 {
  height: 19px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}
.x1-home .picker-border-stroke {
  height: 32px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 122px;
}
.x1-home .pickers-combo-b-collapsed-rest {
  height: 32px;
  left: 0px;
  position: absolute;
  top: 102px;
  width: 118px;
}
.x1-home .pickers-combo-b-collapsed-rest-1 {
  height: 32px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 118px;
}
.x1-home .place {
  left: 1011px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}
.x1-home .post1 {
  background-color: #B28AF8;
  border-radius: 30px;
  height: 459px;
  left: 1260px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.x1-home .post1-1 {
  background-color: #B28AF8;
  border-radius: 30px;
  height: 459px;
  left: 840px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.x1-home .post1-2 {
  background-color: #B28AF8;
  border-radius: 30px;
  height: 459px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.x1-home .post1-3 {
  background-color: #B28AF8;
  border-radius: 30px;
  height: 459px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 380px;
}
.x1-home .problems {
  left: 0px;
  letter-spacing: 1.80px;
  line-height: 60px;
  position: absolute;
  top: 183px;
  white-space: nowrap;
}
.x1-home .rectangle-7 {
  background-color: white;
  border-radius: 5px;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 5px;
}
.x1-home .rectangle-8 {
  background-color: white;
  border-radius: 5px;
  height: 26px;
  left: 10px;
  position: absolute;
  top: 0px;
  transform: rotate(90deg);
  width: 5px;
}
.x1-home .selected-list-item {
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 7px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}
.x1-home .shape {
  height: 597px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 484px;
}
.x1-home .shape-1 {
  height: 179px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 4465px;
  width: 179px;
}
.x1-home .solve-clients {
  left: 0px;
  letter-spacing: 2.40px;
  line-height: 80px;
  position: absolute;
  top: 71px;
  white-space: nowrap;
}
.x1-home .span0 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-weight: 500;
}
.x1-home .span1 {
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
}
.x1-home .subscribe {
  left: 58px;
  letter-spacing: 0.48px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}
.x1-home .text- {
  height: 61px;
  left: 0px;
  letter-spacing: 0.60px;
  line-height: 20px;
  position: absolute;
  top: 31px;
  width: 302px;
}
.x1-home .text-1 {
  cursor: pointer;
  left: 1109px;
  letter-spacing: 0.57px;
  line-height: 29px;
  position: absolute;
  top: 429px;
  white-space: nowrap;
}
.x1-home .text-10 {
  height: 175px;
  left: 0px;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: absolute;
  top: 0px;
  width: 242px;
}
.x1-home .text-11 {
  height: 175px;
  left: 161px;
  letter-spacing: 0.48px;
  line-height: 36px;
  position: absolute;
  top: 0px;
  width: 66px;
}
.x1-home .text-2 {
  height: 64px;
  left: 140px;
  letter-spacing: 0.66px;
  line-height: 32px;
  position: absolute;
  top: 78px;
  width: 522px;
}
.x1-home .text-7 {
  left: 0px;
  letter-spacing: 1.20px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
}
.x1-home .text-8 {
  height: 53px;
  left: 93px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 61px;
  width: 512px;
}
.x1-home .text-9 {
  left: 837px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  top: 222px;
  white-space: nowrap;
}
.x1-home .trust {
  border-radius: 56px/55px;
  height: 110px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 112px;
}
.x1-home .trust-1 {
  border-radius: 96.5px;
  height: 193px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 405px;
  width: 193px;
}
.x1-home .we-help-to {
  left: 0px;
  letter-spacing: 1.50px;
  line-height: 50px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.x1-home .whats-an-outsourced {
  height: 283px;
  left: 140px;
  letter-spacing: 0.48px;
  line-height: 26px;
  position: absolute;
  top: 180px;
  width: 522px;
}
.x1-home .x-elements-picker-frame-base {
  background-color: var(--white-2);
  height: 28px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 118px;
}
.x1-home .x-unsplash {
  border-radius: 30px;
  height: 242px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 380px;
}
.x1-home .x12px-12px-footprint {
  height: 13px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 14px;
}
.x1-home .x2661360 {
  height: 1441px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 2877px;
  width: 1920px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Poppins:400,700,500");

@font-face {
  font-family: "SegoeMDL2 Assets-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeMDL2Assets-Regular") format("truetype");
}

@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
}

@font-face {
  font-family: "SegoeUI-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/SegoeUI-Bold") format("truetype");
}

* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
