  <div class="admin">
    <div class="overlap-group">
      <img
        class="x20943904"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c631f6c32b1523e2a92f3/img/20943904@1x.png"
      />
      <img
        class="close-up-of-a-p-market-research"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/close-up-of-a-pen-on-a-market-research@1x.png"
      />
      <div class="text-1 roboto-normal-white-20px">
        Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Inbox&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;
      </div>
      <div class="group-3319">
        <div class="line-chart">Line Chart</div>
        <img
          class="path-5623"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-5623@1x.png"
        />
        <div class="overlap-group1-3">
          <div class="rectangle-375"></div>
          <div class="date">192k</div>
        </div>
        <div class="ellipse-62 border-2px-white"></div>
      </div>
      <div class="group-3335">
        <div class="avatar">
          <img
            class="union-12"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/union-12@1x.png"
          />
        </div>
        <div class="overlap-group2">
          <div class="number lato-normal-bright-gray-25px">10</div>
          <div class="new- lato-bold-bright-gray-25px"><br />New users</div>
        </div>
      </div>
      <div class="group-3334">
        <div class="avatar-1">
          <img
            class="union-12"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/union-12@1x.png"
          />
        </div>
        <div class="overlap-group3">
          <div class="new- lato-bold-bright-gray-25px"><br />New producers</div>
          <div class="number-1 lato-normal-bright-gray-25px">3</div>
        </div>
      </div>
      <div class="group-3320">
        <div class="overlap-group4">
          <div class="mask-group-4">
            <div class="overlap-group1-2">
              <img
                class="path-11477"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-11477@1x.png"
              />
              <img
                class="path-11473"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-11473@1x.png"
              />
            </div>
          </div>
          <div class="ellipse-62-1 border-2px-white"></div>
          <div class="ellipse-75 border-2px-white"></div>
          <div class="ellipse-76 border-2px-white"></div>
          <div class="group-555"><div class="date-1">72k</div></div>
        </div>
        <div class="group-554">
          <div class="m bilo-medium-bright-gray-16px">M</div>
          <div class="t bilo-medium-bright-gray-16px">T</div>
          <div class="w bilo-medium-bright-gray-16px">W</div>
          <div class="t-1 bilo-medium-bright-gray-16px">T</div>
          <div class="f bilo-medium-bright-gray-16px">F</div>
          <div class="price-1 bilo-medium-bright-gray-16px">S</div>
          <div class="price bilo-medium-bright-gray-16px">S</div>
        </div>
      </div>
      <a href="E:\lglsi\sem4\zprojects\PROJET WEB\xd code\user\user.html">
        <div class="group-3329">
          <div class="overlap-group-1">
            <div class="group-3328"><div class="users poppins-medium-biloba-flower-16px"  routerLink="/user">Users</div></div>
            <div class="icon-1">
              <div class="overlap-group1-1">
                <img
                  class="line-1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line@1x.png"
                />
                <img
                  class="line-2"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-1@1x.png"
                />
                
              </div>
            </div>
          </div></div
      ></a>
      <div class="group-3337">
        <div class="overlap-group-1">
          <div class="group-3328">
            <div class="articles poppins-medium-biloba-flower-16px">Articles<br /></div>
          </div>
          <div class="icon-3">
            <div class="overlap-group1-4">
              <img
                class="line"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-2@1x.png"
              />
              <img
                class="line-7"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-3@1x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="group-3336">
        <div class="overlap-group-1">
          <div class="group-3328"><div class="categories poppins-medium-biloba-flower-16px">Categories</div></div>
          <div class="icon">
            <img
              class="line-6"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-4@1x.png"
            />
            <img
              class="line-3"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-4@1x.png"
            />
            <img
              class="line-5"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-4@1x.png"
            />
          </div>
        </div>
      </div>
      <div class="footer">
        <img
          class="asset-3"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-3@1x.png"
        />
        <div class="group-468">
          <div class="group-465">
            <div class="text-2 poppins-bold-white-40px">Like Our Service? Subscribe Now</div>
            <p class="text-3 roboto-normal-white-16px">
              <span class="span0"></span
              ><span class="span1"
                >As a app web crawler expert, I help organizations adjust to the expanding significance of internet
                promoting.</span
              >
            </p>
          </div>
          <img
            class="asset-2"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-2-1@1x.png"
          />
          <div class="group-467 border-1px-white">
            <div class="group-466"><div class="subscribe poppins-medium-biloba-flower-16px">Subscribe</div></div>
            <div class="enter-your-email poppins-normal-white-16px">Enter your email</div>
          </div>
        </div>
        <div class="overlap-group8">
          <div class="group-479">
            <p class="text-4 roboto-normal-white-16px-2">© 2020 — All Rights Reserved</p>
            <div class="group-476">
              <div class="group-470">
                <img
                  class="f1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/f-1-@1x.png"
                />
              </div>
              <div class="group-471">
                <img
                  class="path-633"
                  src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-633@1x.png"
                />
              </div>
              <div class="group-473">
                <div class="instagram">
                  <div class="overlap-group1">
                    <img
                      class="path-634"
                      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-634@1x.png"
                    />
                    <img
                      class="path-635"
                      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/path-635@1x.png"
                    />
                    <div class="ellipse-10"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-478">
            <div class="overlap-group2-1">
              <div class="text-5 roboto-medium-white-16px">About Us<br />Contact us<br />Careers<br />Support</div>
              <div class="text-6 roboto-medium-white-16px">FAQ<br />Terms<br />Privacy<br />Blog</div>
            </div>
            <div class="about poppins-bold-white-20px">About</div>
            <div class="place poppins-bold-white-20px">Contact</div>
            <img
              class="trust"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/trust@1x.png"
            />
          </div>
          <img
            class="line-4"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/line-4@1x.png"
          />
          <div class="follow-us poppins-bold-white-20px">Follow Us</div>
          <div class="countries poppins-bold-white-20px">Countries</div>
        </div>
      </div>
      <div class="group-495">
        <div class="pickers-combo-b-collapsed-rest">
          <div class="overlap-group-2">
            <div class="x-elements-picker-frame-base">
              <div class="picker-border-stroke border-2px-black"></div>
            </div>
            <div class="chevron-down-12-12px-footprint">
              <div class="x12px-12px-footprint">
                <div class="overlap-group-3">
                  <div class="footprint"></div>
                  <div class="icon-2 segoemdl2assets-regular-normal-black-12px"></div>
                </div>
              </div>
            </div>
            <div class="selected-list-item segoeui-regular-normal-black-20px">English</div>
          </div>
        </div>
        <div class="pickers-combo-b-collapsed-rest-1">
          <div class="overlap-group-2">
            <div class="x-elements-picker-frame-base">
              <div class="picker-border-stroke border-2px-black"></div>
            </div>
            <div class="chevron-down-12-12px-footprint">
              <div class="x12px-12px-footprint">
                <div class="overlap-group-3">
                  <div class="footprint"></div>
                  <div class="icon-2 segoemdl2assets-regular-normal-black-12px"></div>
                </div>
              </div>
            </div>
            <div class="selected-list-item segoeui-regular-normal-black-20px">USA</div>
          </div>
        </div>
      </div>
      <div class="group-3330">
        <div class="overlap-group-1">
          <div class="group-3328"><div class="producers poppins-medium-biloba-flower-16px">Producers</div></div>
          <div class="icon-1">
            <div class="overlap-group1-1">
              <img
                class="line-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line@1x.png"
              />
              <img
                class="line-2"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/line-1@1x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        class="trust-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/trust@1x.png"
      />
      <h1 class="title poppins-medium-soapstone-66px">Monthly reviews</h1>
      <div class="monthly-users poppins-medium-soapstone-66px">Monthly users</div>
      <div class="group-3339">
        <div class="x20growth lato-bold-bright-gray-25px">&nbsp;&nbsp;&nbsp;&nbsp;20%<br />Growth</div>
        <img
          class="favpng"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/favpng-clip-art-economics-economic-growth-economy-image@1x.png"
        />
      </div>
      <div class="group-3340">
        <div class="x2500profits lato-bold-bright-gray-25px">&nbsp;&nbsp;&nbsp;&nbsp;2.500<br />profits</div>
        <img
          class="favpng"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607c4b5006519b6f7046a519/img/favpng-money-vector-graphics-emoji-image-illustration@1x.png"
        />
      </div>
    </div>
  </div>


