<div class="container-center-horizontal">
  <div class="home screen">
    <div class="overlap-group">
      <div class="ellipse-3"></div>
      <div class="ellipse-4"></div>
      <img
        class="copy681867279"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60823edf9c29836962a88063/img/copy-681867279@1x.png"
      />
      
    
      <div class="about-us">
        <div class="group-8">
          <div class="about-us-1 poppins-bold-white-30px">About Us</div>
          <p class="our-website-is-a-pla roboto-normal-white-16px2">
            <span class="span roboto-medium-white-16px"></span
            ><span class="span roboto-normal-white-16px-22"
              >Our website is a platform intended both for consumers who seek genuine feedback on a product or brand, as
              well as for companies who want to know how their product or brand is perceived.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <br />Indeed, the platform recorded more than 1000 evaluations every month. <br /><br />Consumers were
              very fond of posting or consulting reviews, because there was everything there: household, computer and
              high-tech products, fashion items, music, products intended for photography, cars and various services.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;</span
            >
          </p>
          <div class="text-1 roboto-medium-white-22px">Simple! Our mission is to become the best!</div>
          <img
            class="line-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/line-1@1x.png"
          />
          <div class="group-9"><div class="lets-talk poppins-medium-biloba-flower-16px">LET&#39;S TALK!</div></div>
        </div>
        <img
          class="layer-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/layer-1@1x.png"
        />
      </div>
      <img
        class="x2661360"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/2661360@1x.png"
      />
      <img
        class="x2661360"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/2661360@1x.png"
      />
      <div class="group-10">
        <div class="overlap-group1">
          <div class="problems poppins-bold-white-60px">Problems</div>
          <h1 class="solve-clients poppins-bold-white-80px">Solve Clients</h1>
          <div class="we-help-to poppins-bold-white-50px">We help to</div>
        </div>
      </div>
      <img
        class="asset-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-1@1x.png"
      />
    </div>
    <img
      class="asset-2-1"
      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-2@1x.png"
    />
    <img
      class="asset-4"
      src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-4@1x.png"
    />
    <div class="group-498">
      <div class="overlap-group2">
        <div class="footer">
          <img
            class="asset-3"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-3@1x.png"
          />
          <div class="group-468">
            <div class="group-465">
              <div class="text-2 poppins-bold-white-40px">Like Our Service? Subscribe Now</div>
              <p class="text-3 roboto-normal-white-16px2">
                <span class="span roboto-medium-white-16px"></span
                ><span class="span roboto-normal-white-16px-22"
                  >As a app web crawler expert, I help organizations adjust to the expanding significance of internet
                  promoting.</span
                >
              </p>
            </div>
            <img
              class="asset-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/asset-2-1@1x.png"
            />
            <div class="group-467 border-1px-white">
              <div class="group-466"><div class="subscribe poppins-medium-biloba-flower-16px">Subscribe</div></div>
              <div class="enter-your-email poppins-normal-white-16px">Enter your email</div>
            </div>
          </div>
          <div class="overlap-group1-2">
            <div class="group-479">
              <p class="text-4 roboto-normal-white-16px-22">© 2020 — All Rights Reserved</p>
              <div class="group-476">
                <div class="group-470">
                  <img
                    class="f1"
                    src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/f-1-@1x.png"
                  />
                </div>
                <div class="group-471">
                  <img
                    class="path-633"
                    src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-633@1x.png"
                  />
                </div>
                <div class="group-473">
                  <div class="instagram">
                    <div class="overlap-group3">
                      <img
                        class="path-634"
                        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-634@1x.png"
                      />
                      <img
                        class="path-635"
                        src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/path-635@1x.png"
                      />
                      <div class="ellipse-10"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-478">
              <div class="overlap-group4">
                <div class="text-5 roboto-medium-white-16px">About Us<br />Contact us<br />Careers<br />Support</div>
                <div class="text-6 roboto-medium-white-16px">FAQ<br />Terms<br />Privacy<br />Blog</div>
              </div>
              <div class="about poppins-bold-white-20px">About</div>
              <div class="place poppins-bold-white-20px">Contact</div>
              <img
                class="trust"
                src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/trust@1x.png"
              />
            </div>
            <img
              class="line-4"
              src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60823edf9c29836962a88063/img/line-4@1x.png"
            />
            <div class="follow-us poppins-bold-white-20px">Follow Us</div>
            <div class="countries poppins-bold-white-20px">Countries</div>
          </div>
        </div>
        <img
          class="shape"
          src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/shape-1@1x.png"
        />
        <div class="group-495">
          <div class="pickers-combo-b-collapsed-rest-1">
            <div class="overlap-group-1">
              <div class="x-elements-picker-frame-base">
                <div class="picker-border-stroke border-2px-black"></div>
              </div>
              <div class="chevron-down-12-12px-footprint">
                <div class="x12px-12px-footprint">
                  <div class="overlap-group-2">
                    <div class="footprint"></div>
                    <div class="icon segoemdl2assets-regular-normal-black-12px"></div>
                  </div>
                </div>
              </div>
              <div class="selected-list-item segoeui-regular-normal-black-20px">English</div>
            </div>
          </div>
          <div class="pickers-combo-b-collapsed-rest">
            <div class="overlap-group-1">
              <div class="x-elements-picker-frame-base">
                <div class="picker-border-stroke border-2px-black"></div>
              </div>
              <div class="chevron-down-12-12px-footprint">
                <div class="x12px-12px-footprint">
                  <div class="overlap-group-2">
                    <div class="footprint"></div>
                    <div class="icon segoemdl2assets-regular-normal-black-12px"></div>
                  </div>
                </div>
              </div>
              <div class="selected-list-item segoeui-regular-normal-black-20px">USA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog">
      <div class="group-21">
        <div class="our-blog-article poppins-bold-white-40px">Our Blog &amp; Article</div>
        <div class="our-blogs roboto-normal-white-20px">Our Blogs</div>
      </div>
      <div class="group-450-1">
        <div class="group-450">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/arrow-right@1x.png"
          />
        </div>
        <div class="group-451">
          <img
            class="arrow-right"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/arrow-right-1@1x.png"
          />
        </div>
      </div>
      <div class="group-462">
        <div class="post1-3">
          <img
            class="x-unsplash"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/xps-g2e2nq5swsu-unsplash@1x.png"
          />
          <div class="group-460">
            <div class="group-493">
              <div class="overlap-group1-1">
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
              </div>
            </div>
          </div>
          <div class="group-461">
            <div class="text- poppins-bold-white-20px">Why We Decided To Create Build Your Dxp</div>
            <div class="date roboto-normal-white-16px2">
              <span class="span roboto-medium-white-16px"></span
              ><span class="span roboto-normal-white-16px-22">August 27, 2020</span>
            </div>
          </div>
        </div>
        <div class="post1">
          <img
            class="x-unsplash"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/adeolu-eletu-e7rlgujjazc-unsplash@1x.png"
          />
          <div class="group-460">
            <div class="group-493">
              <div class="overlap-group1-1">
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
              </div>
            </div>
          </div>
          <div class="group-461">
            <div class="text- poppins-bold-white-20px">Why We Decided To Create Build Your Dxp</div>
            <div class="date roboto-normal-white-16px2">
              <span class="span roboto-medium-white-16px"></span
              ><span class="span roboto-normal-white-16px-22">August 27, 2020</span>
            </div>
          </div>
        </div>
        <div class="post1-2">
          <img
            class="x-unsplash"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/austin-distel-jphw8ndwj-q-unsplash@1x.png"
          />
          <div class="group-460">
            <div class="group-493">
              <div class="overlap-group1-1">
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
              </div>
            </div>
          </div>
          <div class="group-461">
            <div class="text- poppins-bold-white-20px">Why We Decided To Create Build Your Dxp</div>
            <div class="date roboto-normal-white-16px2">
              <span class="span roboto-medium-white-16px"></span
              ><span class="span roboto-normal-white-16px-22">August 27, 2020</span>
            </div>
          </div>
        </div>
        <div class="post1-1">
          <img
            class="x-unsplash"
            src="https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/alesia-kazantceva-xlm6-fpwk5q-unsplash@1x.png"
          />
          <div class="group-460">
            <div class="group-493">
              <div class="overlap-group1-1">
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
              </div>
            </div>
          </div>
          <div class="group-461">
            <div class="text- poppins-bold-white-20px">Why We Decided To Create Build Your Dxp</div>
            <div class="date roboto-normal-white-16px2">
              <span class="span roboto-medium-white-16px"></span
              ><span class="span roboto-normal-white-16px-22">August 27, 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>