.home {
    background-color: #11368b7c;
    height: 6590px;
    overflow: hidden;
    position: relative;
    width: 1920px;
  }
  .home .about {
    left: 202px;
    letter-spacing: 0.60px;
    line-height: 20px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
  }
  .home .about-us {
    height: 652px;
    left: 675px;
    position: absolute;
    top: 2409px;
    width: 1500px;
  }
  .home .about-us-1 {
    left: 140px;
    letter-spacing: 0.90px;
    line-height: 30px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .home .arrow-right {
    height: 16px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 10px;
  }
  .home .asset-1 {
    height: 92px;
    left: 551px;
    object-fit: cover;
    position: absolute;
    top: 3116px;
    width: 91px;
  }
  .home .asset-2 {
    height: 196px;
    left: 261px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 173px;
  }
  .home .asset-2-1 {
    height: 108px;
    left: 1275px;
    object-fit: cover;
    position: absolute;
    top: 1730px;
    width: 128px;
  }
  .home .asset-3 {
    height: 148px;
    left: 1526px;
    object-fit: cover;
    position: absolute;
    top: 134px;
    width: 190px;
  }
  .home .asset-4 {
    height: 107px;
    left: 33px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 105px;
  }
  .home .blog {
    height: 723px;
    left: 140px;
    position: absolute;
    top: 4157px;
    width: 1640px;
  }
  .home .chevron-down-12-12px-footprint {
    height: 32px;
    left: 86px;
    position: absolute;
    top: 0;
    width: 32px;
  }
  .home .copy681867279 {
    height: 671px;
    left: 1425px;
    object-fit: cover;
    position: absolute;
    top: 568px;
    width: 938px;
  }
 
  .home .countries {
    left: 1141px;
    letter-spacing: 0.60px;
    line-height: 20px;
    position: absolute;
    top: 140px;
    white-space: nowrap;
  }
  .home .date {
    left: 0;
    letter-spacing: 0.48px;
    line-height: 26px;
    position: absolute;
    top: -5px;
    white-space: nowrap;
  }
  .home .ellipse-10 {
    background-color: white;
    border-radius: 1.139345645904541px;
    height: 2px;
    left: 13px;
    position: absolute;
    top: 3px;
    width: 2px;
  }
  .home .ellipse-3 {
    background: linear-gradient(154.46deg, #c19eff 15.69%, rgba(183, 143, 249, 0) 68.7%);
    border-radius: 771px;
    height: 1542px;
    left: 0;
    position: absolute;
    top: 995px;
    width: 1542px;
  }
  .home .ellipse-4 {
    background: linear-gradient(337.92deg, #9793f5 32.33%, rgba(178, 175, 252, 0) 80.44%);
    border-radius: 771px;
    height: 1542px;
    left: 1425px;
    position: absolute;
    top: 0;
    width: 1542px;
  }
  .home .enter-your-email {
    left: 38px;
    letter-spacing: 0.48px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 28px;
    white-space: nowrap;
  }
  .home .f1 {
    height: 20px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 10px;
  }
  .home .follow-us {
    left: 693px;
    letter-spacing: 0.60px;
    line-height: 20px;
    position: absolute;
    top: 32px;
    white-space: nowrap;
  }
  .home .footer {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/60823edf9c29836962a88063/img/path-637@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1220px;
    left: 135px;
    opacity: 0.87;
    position: absolute;
    top: 0;
    width: 1856px;
  }
  .home .footprint {
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
  }
  .home .group-10 {
    height: 267px;
    left: 771px;
    position: absolute;
    top: 1465px;
    width: 559px;
  }
  .home .group-21 {
    height: 92px;
    left: 630px;
    position: absolute;
    top: 0;
    width: 382px;
  }
  .home .group-450 {
    background-color: #C4A3FD;
    border-radius: 25px;
    height: 50px;
    left: 70px;
    position: absolute;
    top: 0;
    width: 50px;
  }
  .home .group-450-1 {
    height: 50px;
    left: 760px;
    position: absolute;
    top: 673px;
    width: 120px;
  }
  .home .group-451 {
    background-color: #C4A3FD;
    border-radius: 25px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
  }
  .home .group-460 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/607495dd3840f78fc11be85f/releases/607499f63840f78fc11be875/img/rectangle-6@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 80px;
    left: 300px;
    position: absolute;
    top: 379px;
    width: 80px;
  }
  .home .group-461 {
    height: 90px;
    left: 40px;
    position: absolute;
    top: 282px;
    width: 302px;
  }
  .home .group-462 {
    height: 459px;
    left: 0;
    position: absolute;
    top: 152px;
    width: 1640px;
  }
  .home .group-465 {
    height: 117px;
    left: 0;
    position: absolute;
    top: 236px;
    width: 698px;
  }
  .home .group-466 {
    background-color: white;
    border-radius: 40px;
    height: 60px;
    left: 456px;
    position: absolute;
    top: 9px;
    width: 200px;
  }
  .home .group-467 {
    background-color: #C4A3FD;
    border-radius: 40px;
    height: 80px;
    left: 14px;
    position: absolute;
    top: 393px;
    width: 667px;
  }
  .home .group-468 {
    height: 473px;
    left: 581px;
    position: absolute;
    top: 120px;
    width: 696px;
  }
  .home .group-470 {
    background-color: #C4A3FD;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .home .group-471 {
    background-color: #C4A3FD;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 65px;
    width: 40px;
  }
  .home .group-473 {
    background-color: #C4A3FD;
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 130px;
    width: 40px;
  }
  .home .group-476 {
    height: 170px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .home .group-478 {
    height: 256px;
    left: 125px;
    position: absolute;
    top: 0;
    width: 1100px;
  }
  .home .group-479 {
    height: 248px;
    left: 724px;
    position: absolute;
    top: 77px;
    width: 906px;
  }
  .home .group-493 {
    height: 26px;
    left: 27px;
    position: relative;
    top: 27px;
    width: 26px;
  }
  .home .group-495 {
    height: 134px;
    left: 1433px;
    position: absolute;
    top: 933px;
    width: 118px;
  }
  .home .group-498 {
    height: 1220px;
    left: -58px;
    position: absolute;
    top: 5370px;
    width: 1991px;
  }
  .home .group-8 {
    height: 566px;
    left: 840px;
    position: absolute;
    top: 43px;
    width: 662px;
  }
  .home .group-9 {
    background-color: white;
    border-radius: 40px;
    height: 60px;
    left: 140px;
    position: absolute;
    top: 506px;
    width: 240px;
  }
  .home .icon {
    left: 0;
    letter-spacing: 0;
    line-height: 12px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .home .instagram {
    height: 19px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 19px;
  }
  .home .layer-1 {
    height: 652px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 777px;
  }
  .home .lets-talk {
    left: 76px;
    letter-spacing: 0.48px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
  }
  .home .line-1 {
    height: 2px;
    left: -1px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 102px;
  }
  .home .line-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 264px;
    width: 1576px;
  }
  .home .our-blog-article {
    left: 0;
    letter-spacing: 1.20px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 36px;
    white-space: nowrap;
  }
  .home .our-blogs {
    left: 144px;
    letter-spacing: 0.60px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -5px;
    white-space: nowrap;
  }
  .home .our-website-is-a-pla {
    height: 283px;
    left: 140px;
    letter-spacing: 0.48px;
    line-height: 26px;
    position: absolute;
    top: 180px;
    width: 522px;
  }
  .home .overlap-group {
    height: 4455px;
    left: -465px;
    position: absolute;
    top: -439px;
    width: 2967px;
  }
  .home .overlap-group-1 {
    height: 36px;
    position: relative;
  }
  .home .overlap-group-2 {
    height: 15px;
    position: relative;
  }
  .home .overlap-group1 {
    color:white;
    height: 269px;
    position: relative;
  }
  .home .overlap-group1-1 {
    height: 26px;
    position: relative;
  }
  .home .overlap-group1-2 {
    height: 325px;
    left: 140px;
    position: absolute;
    top: 836px;
    width: 1630px;
  }
  .home .overlap-group2 {
    height: 1220px;
    position: relative;
    width: 1856px;
  }
  .home .overlap-group3 {
    height: 19px;
    position: relative;
  }
  .home .overlap-group4 {
    height: 175px;
    left: 202px;
    position: absolute;
    top: 73px;
    width: 242px;
  }
  .home .path-633 {
    height: 16px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 19px;
  }
  .home .path-634 {
    height: 10px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 10px;
  }
  .home .path-635 {
    height: 19px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 19px;
  }
  .home .picker-border-stroke {
    height: 32px;
    left: -2px;
    position: relative;
    top: -2px;
    width: 122px;
  }
  .home .pickers-combo-b-collapsed-rest {
    height: 32px;
    left: 0;
    position: absolute;
    top: 102px;
    width: 118px;
  }
  .home .pickers-combo-b-collapsed-rest-1 {
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 118px;
  }
  .home .place {
    left: 1011px;
    letter-spacing: 0.60px;
    line-height: 20px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
  }
  .home .post1 {
    background-color: #B28AF8;
    border-radius: 30px;
    height: 459px;
    left: 420px;
    position: absolute;
    top: 0;
    width: 380px;
  }
  .home .post1-1 {
    background-color: #B28AF8;
    border-radius: 30px;
    height: 459px;
    left: 1260px;
    position: absolute;
    top: 0;
    width: 380px;
  }
  .home .post1-2 {
    background-color: #B28AF8;
    border-radius: 30px;
    height: 459px;
    left: 840px;
    position: absolute;
    top: 0;
    width: 380px;
  }
  .home .post1-3 {
    background-color: #B28AF8;
    border-radius: 30px;
    height: 459px;
    left: 0;
    position: absolute;
    top: 0;
    width: 380px;
  }
  .home .problems {
    left: 0;
    letter-spacing: 1.80px;
    line-height: 60px;
    position: absolute;
    top: 183px;
    white-space: nowrap;
  }
  .home .rectangle-7 {
    background-color: white;
    border-radius: 5px;
    height: 26px;
    left: 11px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  .home .rectangle-8 {
    background-color: white;
    border-radius: 5px;
    height: 26px;
    left: 10px;
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    width: 5px;
  }
  .home .selected-list-item {
    left: 11px;
    letter-spacing: 0;
    line-height: 7px;
    position: absolute;
    top: 6px;
    white-space: nowrap;
  }
  .home .shape {
    height: 597px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 484px;
  }
  .home .solve-clients {
    left: 0;
    letter-spacing: 2.40px;
    line-height: 80px;
    position: absolute;
    top: 71px;
    white-space: nowrap;
  }
  .home .subscribe {
    left: 58px;
    letter-spacing: 0.48px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 19px;
    white-space: nowrap;
  }
  .home .text- {
    height: 61px;
    left: 0;
    letter-spacing: 0.60px;
    line-height: 20px;
    position: absolute;
    top: 31px;
    width: 302px;
  }
  .home .text-1 {
    height: 64px;
    left: 140px;
    letter-spacing: 0.66px;
    line-height: 32px;
    position: absolute;
    top: 78px;
    width: 522px;
  }
  .home .text-2 {
    left: 0;
    letter-spacing: 1.20px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  .home .text-3 {
    height: 53px;
    left: 93px;
    letter-spacing: 0.48px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 61px;
    width: 512px;
  }
  .home .text-4 {
    left: 681px;
    letter-spacing: 0.48px;
    line-height: 26px;
    position: absolute;
    top: 222px;
    white-space: nowrap;
  }
  .home .text-5 {
    height: 175px;
    left: 0;
    letter-spacing: 0.48px;
    line-height: 36px;
    position: absolute;
    top: 0;
    width: 242px;
  }
  .home .text-6 {
    height: 175px;
    left: 161px;
    letter-spacing: 0.48px;
    line-height: 36px;
    position: absolute;
    top: 0;
    width: 66px;
  }
  .home .trust {
    border-radius: 56px/55px;
    height: 110px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 112px;
  }
  .home .we-help-to {
    left: 0;
    letter-spacing: 1.50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .home .x-elements-picker-frame-base {
    background-color: var(--white-2);
    height: 28px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 118px;
  }
  .home .x-unsplash {
    border-radius: 30px;
    height: 242px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 380px;
  }
  .home .x12px-12px-footprint {
    height: 13px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 14px;
  }
  .home .x2661360 {
    height: 1441px;
    left: 389px;
    object-fit: cover;
    position: absolute;
    top: 3014px;
    width: 1920px;
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500|Roboto:400,500");
  
  @font-face {
    font-family: "SegoeMDL2 Assets-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeMDL2Assets-Regular") format("truetype");
  }
  
  @font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  
  * {
    box-sizing: border-box;
  }
  .container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .screen * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }
  .screen div {
    -webkit-text-size-adjust: none;
  }
  .screen textarea:focus,
  .screen input:focus {
    outline: none;
  }
  